body{
    margin: 0;
    padding: 0;
    background-image:url("backgroung.svg");
}
.all{
    display:flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap:5%;
    margin:1%;
}

.cont{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.idk{
    display: flex;
    flex-direction: column;
    height: 50vh;
}
.cont1{
    background-color:#8da2c2;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
.cont2{
    background-color: #7a7a88;
    width:30vh;
    height: 37vh;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-around;
}
img{
    width: 40px;
    height: 50px;
}
.flags{
    display: flex;
    flex-direction: column;
    width: 40px;
}
.names{
    display: flex;
    flex-direction: column;    
    align-items: flex-end;
    font-size: 10px;
}