body{
    display: flex;
    background-image:url("backgroung.svg");
    flex-direction: column;
    align-items: center;
}
.cont1{
    width: 30vh;
    height: 40vh;
    margin: 20px;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 7vh;
    border-radius: 15px 15px 0px 0px;
}
.two{
    background-color: rgb(107, 107, 107);
    height: 30vh;
    border-radius: 0px 0px 15px 15px ;
    display: flex;
    justify-content: space-around;
}
img{
    width: 35px;
    height: 40px;
}
.flags{
    display: flex;
    flex-direction: column;
    width: 40px;
}
.names{
    display: flex;
    flex-direction: column;    
    align-items: flex-end;
    font-size: 8px;
}
@media (min-width: 700px){
    body{
        display: flex;
        flex-direction: row;
    }
}